.header-1 {
  display: flex;
  height: 27px;
  background-color: var(--color-grey-light-2);
  padding: var(--content-padding);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .download-app {
    font-family: "Montserrat", sans-serif;
    font-size: 0.6rem;
    display: flex;
    font-weight: 800;
    &__icon {
      width: 1rem;
      height: 1rem;
      fill: transparent;
      stroke: var(--color-grey-dark-1);
    }
  }

  .menu {
    .menu-nav li {
      display: inline-block;
      font-weight: 800;
      font-family: "Montserrat", sans-serif;
      font-size: 0.7rem;
      line-height: 1;
    }

    li:not(:last-child) {
      margin-right: 1rem;
    }
    a:hover,
    .active {
      color: var(--color-primary--3);
    }
    a {
      text-decoration: none;
      font-weight: 700;
      color: var(--color-grey-light-4);
      padding-left: 0.3rem;
    }
  }
}

.header-2 {
  padding: var(--content-padding);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-nav {
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    &__favorite {
      .favorite-icon {
        height: 2.5rem;
        width: 2.6rem;
        fill: transparent;
        stroke: var(--color-grey-dark-1);
        &__item-count {
          background-color: var(--color-primary);
          color: white;
          width: 1.2rem;
          text-align: center;
          display: inline-block;
          border-radius: 90%;
          transform: translate(-60%);
          z-index: 99;
        }
      }
    }

    &__cart {
      margin-left: 2.5rem;
      .cart-icon {
        width: 2.8rem;
        height: 2.8rem;
        fill: transparent;
        stroke: var(--color-grey-dark-1);

        &__item-count {
          background-color: var(--color-primary);
          color: white;
          width: 1.2rem;
          text-align: center;
          display: inline-block;
          border-radius: 90%;
          transform: translate(-60%);
          z-index: 99;
        }
      }
    }
  }
}

ul {
  list-style: none;
}
