.wrapper-store-settings {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.your-items-container {
  display: flex;
}

.btn-addNew {
  margin-left: 1rem;
  padding: 0.33rem 1.27rem;
  width: fit-content;
  display: block;
}

.your-items-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  padding: -1.5rem;
  display: block;
}
