:root {
  --color-primary: #f73c49;
  --color-primary--2: #f4a5ad;
  --color-primary--3: #fa6872;

  --color-grey-light-1: #f6f6f6;
  --color-grey-light-2: #f1f1f1;
  --color-grey-light-3: #ecdcdc;
  --color-grey-light-4: #717b8c;
  --color-grey-light-5: rgb(76, 83, 95);
  --color-grey-light-6: #e0e4ec;
  --color-grey-light-7: rgba(79, 79, 79, 0.47);

  --color-success: #4bb543;
  --color-success--2: #35dc50;
  --color-success-hover: #45a53e;

  --color-grey-dark-1: #070505ab;
  --color-grey-dark-2: rgb(38, 37, 37);

  --content-padding: 0 7%;
  --account-settings-padding: 0 16%;

  --card-border-radius: 4px;
  --card-border-radius-1: 17px;
  --input-border-radius: 4px;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

.mb-sm {
  margin-bottom: 1rem;
}

.mt-sm {
  margin-top: 1rem;
}

.mt-md {
  margin-top: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* font-size: 112.5%; This equals to 18px */
  font-size: 101.25%; /* This equals to 16.2px */
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-grey-light-5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

.content input {
  width: 90%;
}

.property input {
  width: 60%;
}

.input-icon-bin {
  width: 1rem;
  height: 1rem;
  fill: #e20000;
}

.prop-cont-extra-container {
  display: grid;
  grid-template-columns: 40% 1fr;
}

.update-prop-cont-extra-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.update-prop-cont-container {
  display: grid;
  grid-template-columns: 90% 90%;
  grid-gap: 2rem;
}

.update-prop-cont-container input {
  width: 100%;
}

.btn {
  border: 0;
  border-radius: 17px;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 0.83rem 1.77rem;
  transition: all 0.2s;
  cursor: pointer;
}

.btn--primary {
  color: var(--color-grey-light-1);
  background-color: var(--color-primary);
  box-shadow: 1px 1px 3px var(--color-primary);
}

.btn--tertiary {
  color: var(--color-grey-light-5);
  background-color: yellow;
  box-shadow: 1px 1px 3px yellow;
  padding: 0.01rem 1.05rem;
  width: auto;
  height: 2rem;
  cursor: pointer;
  display: block;
  /* border-radius: 0; */
}

.btn--outline {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: transparent;
}
.btn--outline:hover {
  color: white;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
}

.btn--tertiary:hover {
  background-color: rgb(255, 255, 149);
  box-shadow: 1px 1px 3px rgb(255, 255, 149);
}

.btn--primary:hover {
  background-color: var(--color-primary--3);
}

.btn--cancel {
  background-color: var(--color-grey-light-2);
  color: red;
}

.btn--cancel:hover {
  background-color: var(--color-grey-light-2);
  color: rgb(247, 116, 116);
}

.btn--success {
  background-color: var(--color-success);
  color: white;
}

.btn--success:hover {
  background-color: var(--color-success-hover);
  color: white;
}

.form-input--primary {
  padding: 0.4rem;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--color-grey-light-4);
}

/* .form-input--primary:hover {
  outline: none;
  border: 1px solid var(--color-blue-1);
}

.form-input--primary:focus {
  outline: none;
  border: 1px solid var(--color-blue-1);
} */
