:root {
  --color-primary: #f73c49;
  --color-primary--2: #f4a5ad;
  --color-primary--3: #fa6872;

  --color-grey-light-1: #f6f6f6;
  --color-grey-light-2: #f1f1f1;
  --color-grey-light-3: #ecdcdc;
  --color-grey-light-4: #717b8c;
  --color-grey-light-5: #4c535f;
  --color-grey-light-6: #e0e4ec;

  --color-success: #4bb543;
  --color-success-hover: #45a53e;

  --color-grey-dark-1: #070505ab;

  --card-border-radius-1: 17px;

  --content-padding: 0 7%;
  --account-settings-padding: 0 16%;

  --card-border-radius: 4px;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 112.5%; /* This equals to 18px */
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-grey-light-5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

.btn {
  border: 0;
  border-radius: 17px;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding: 0.83rem 1.77rem;
}

.btn--primary {
  color: var(--color-grey-light-1);
  background-color: var(--color-primary);
  font-weight: 600;
  box-shadow: 1px 1px 3px var(--color-primary);
  cursor: pointer;
}

.btn--primary:hover {
  background-color: var(--color-primary--3);
}

.btn--cancel {
  background-color: var(--color-grey-light-2);
  color: red;
}

.btn--cancel:hover {
  background-color: var(--color-grey-light-2);
  color: rgb(247, 116, 116);
}

.btn--success {
  background-color: var(--color-success);
  color: white;
}

.btn--success:hover {
  background-color: var(--color-success-hover);
  color: white;
}
